CONFIG_FATFS_LFN_HEAP=y
CONFIG_USB_HOST_HUBS_SUPPORTED=y
CONFIG_BT_ENABLED=y
CONFIG_BT_BLE_ENABLED=y
CONFIG_BT_BLUEDROID_ENABLED=y
CONFIG_ESPTOOLPY_FLASHSIZE_8MB=y
CONFIG_BT_GATTS_ENABLE=y
CONFIG_BT_GATTC_ENABLE=n
CONFIG_BT_BLE_42_FEATURES_SUPPORTED=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"
CONFIG_SD_MISO_PIN=14
CONFIG_SD_MOSI_PIN=13
CONFIG_SD_CLK_PIN=12
CONFIG_SD_CS_PIN=11
CONFIG_LORA_MISO_PIN=8
CONFIG_LORA_MOSI_PIN=9
CONFIG_LORA_CLK_PIN=7
CONFIG_LORA_CS_PIN=5
CONFIG_LORA_RST_PIN=3
CONFIG_LORA_BUSY_PIN=4
CONFIG_LORA_DIO1_PIN=2
CONFIG_LORA_DIO2_PIN=6
CONFIG_LED_STRIP_GPIO=21
CONFIG_EJECT_BUTTON_GPIO=0
